
<nav class="nav nav-pills justify-content-between">
  <p class="title">Career Hub</p>
  <button 
          routerLink="/candidate/offers" 
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">
    Offers
  </button>
  <button 
          routerLink="/candidate/posts" 
          routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">
    Posts
  </button>
  <button 
  routerLink="/candidate/profile" 
  routerLinkActive="activebutton"
  ariaCurrentWhenActive="page">
    Profile
</button>
  <button (click)="signOut()" class="btn mx-3">Sign Out</button>  
</nav>

  <router-outlet />