<body>
    <div class="form-container">
        <p class="title">Complete Profile</p>
        <form>
            <div class="input-group">
                <input type="email" name="email" id="email" [(ngModel)]="newSkill" placeholder="Add Skill">
                <button (click)="addSkill()">add</button>
            </div>
        </form>
            <ul>
                @for (skill of skills; track $index) {
                    <li>{{skill}}</li>
                }
            </ul>
            <form class="form" (ngSubmit)="completeProfile()">
                <label for="fileUpload" class="mb-2 fw-bold">Upload Resume</label><br>
                <input type="file" id="fileUpload" [(ngModel)]="cv" [ngModelOptions]="{standalone: true}">
                <button type="submit" class="sign">Finish</button>
            </form>
    </div>
</body>
