<h2 class="ms-5 pt-4 fw-bold">Find Your Mission Easly</h2>
  <hr class="ms-5 w-25">
  <main>
    <div class="container-fluid mt-5 d-flex justify-content-around">
      <div class="row row-cols-4 mx-5">
        @for (offer of offers; track $index) {
          <div class="col my-4">
            <div class="cardd stretched-link">
              <p class="heading">{{offer.title}}</p>
              <ul class="overflow-hide" style="max-height: 100px; overflow: hidden;">
                @for (skill of offer.skills; track $index) {
                  <li>{{skill}}</li>
                }                
              </ul>
              <hr class="my-0">
              <div class="d-flex justify-content-between h-25">
                <div class="d-grid">
                  <p><i class="bi bi-geo-alt"></i>  {{offer.place}}</p>
                  <p><i class="bi bi-currency-dollar"></i>  {{offer.salary}}</p>
                </div>
                <button class="me-0" (click)="openModal(post,offer.id)" >Apply</button>
              </div>
            </div>
          </div>
        }
      </div>


    </div>
  </main>  
 
<ng-template #post>
  <div class="form-container">
    <form (ngSubmit)="apply()" class="form">
      <div class="form-group">
        <label for="textarea">Add Your Note</label>
        <textarea name="textarea" id="textarea" rows="10" cols="50" [(ngModel)]="offer_note" required="">          </textarea>
      </div>
      <button type="submit" class="form-submit-btn" type="submit">Apply</button>
    </form>
  </div>
</ng-template>


