.gradient-custom {

  background: #f6d365;

  background: -webkit-linear-gradient(to right bottom,hsl(261deg 80% 48%),hsl(261, 80%, 65%));

  background: linear-gradient(to right bottom, hsl(261deg 80% 48%),hsl(261, 80%, 65%))
  }

  button{
    background-color: hsl(0, 0%, 100%);
    color : black
  }

  button:hover{
    background-color: hsl(261deg 80% 48%);
    color : white;

  }
  li{

    list-style: none;
  }

  .sign{
    margin-left: 150px;
    
  }
section {
  background-color: #F1EAFF;
  padding-top: 70px;
  width: 90vw;
  height: 90vh;
}

.card {
  height: 500px;
  width: 1000px;
  border-radius: .5rem;
}

#side {
  height: 500px;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}