<body>
<div class="form-container">
	<p class="title">Sign In</p>
	<form [formGroup]="Loginform" (ngSubmit)="signIn()" class="form">
		<div class="input-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" formControlName="email">
			@if (Loginform.get('email')?.touched && Loginform.get('email')?.invalid || Loginform.get('email')?.dirty) {

					<ul>
						<li *ngIf="Loginform.get('email')?.getError('email')">invalid email</li>
						<li *ngIf="Loginform.get('email')?.getError('required')">email is required</li>
					</ul>
				
			}
		</div>
		<div class="input-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" formControlName="password">
			@if (Loginform.get('password')?.touched && Loginform.get('password')?.invalid || Loginform.get('password')?.dirty) {
				
					<ul>
						<li *ngIf="Loginform.get('password')?.getError('minlength')">min length : 4</li>
						<li *ngIf="Loginform.get('password')?.getError('required')">password is required</li>
					</ul>
				
			}

		</div>
		<button type="submit" class="sign" [disabled]="Loginform.invalid">Sign in</button>
	</form>
	<p class="signup mt-3">Don't have an account?
		<a routerLink="/choose-sign" class="">Sign up</a>
	</p>
</div>
	
</body>
