<body>
    <div class="form-container">
        <p class="title">Sign Up As Condidat</p>
        <form class="form">
            <div class="input-group">
                <label for="firstName">FirstName</label>
                <input type="text" firstName="firstName" id="firstName" placeholder="">
            </div>
            <div class="input-group">
                <label for="lastName">LastName</label>
                <input type="text" lastName="lastName" id="lastName" placeholder="">
            </div>
            <div class="input-group">
                <label for="phone">Phone</label>
                <input type="text" phone="phone" id="phone" placeholder="">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="">
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
                </div>
            </div>
            <button class="sign">Sign Up</button>
        </form>
    </div>
        
    </body>
    