<body>
    <div class="form-container">
        <p class="title">Sign Up As Company</p>
        <form class="form">
            <div class="input-group">
                <label for="companyName">Company Name</label>
                <input type="text" name="companyName" id="companyName" placeholder="">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="">
                <div class="forgot">
                    <a rel="noopener noreferrer" href="#">Forgot Password ?</a>
                </div>
            </div>
            <button class="sign">Sign Up</button>
        </form>
    </div>
        
    </body>
    